<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./inc/head")%>
</head>
<body style="background: linear-gradient(to right, #0089a6, #00b87b);">
    <section class="signup-section">
        <form action="" method="post" class="signup-form">
            <h1 class="signup-h1">Signup</h1>
            <input type="text" name="username" placeholder="Kullanıcı adı" required id="">
            <input type="password" name="password" placeholder="Parola" required id="">
            <input type="submit" value="Kayıt Ol">
        </form>
    </section>
    <% if (typeof message !== 'undefined') { %>
        <script>
            alert("<%= message %>");
        </script>
    <% } %>
</body>
</html>